// widescreens
@include mediaXl {
  .educations {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .educations {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/gra.jpg");
      width: 300px;
      height: 300px;
    }
  }

  .about-info {
    grid-template-areas:
      "profileimage"
      "profile"
      "job1"
      "job2"
      "job3"
      "job4";
    grid-template-columns: 1fr;
  }
  .educations {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-skill {
    grid-template-areas:
      "skill1"
      "skill2"
      "skill3"
      "skill4"
      "skill5"
      "skill6";
    grid-template-columns: 1fr;
  }
  .publication {
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  .educations {
    grid-template-columns: 1fr;
  }
  .skill {
    grid-template-columns: 1fr;
  }
}
